@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* scene three*/

.sceneThree{
  width:100vw;
  height:100vh;
}

.canvas{
  background: #000;
}

body{
  margin: 0;
}

/* test astro1j */

.icon-selector {
  height:30%;
}

.wrapper-div{
  max-width: 80% !important;
}

.icon-selec{
  width:20% !important;
}

/* test v2.0 */

.wrapper-div-all{
  max-width: 95% !important;
  height: 100vh;
  background-color: #0a0a0a;
  justify-content: center;
  align-items: center;
  display: flex !important;
  flex-direction: column;
}

.chronometre {
  border: 1px solid #fff;
  border-radius: 1rem !important;
  width:50% !important;
  height:50% !important;
}

.col-chrono{
  display: flex;
  justify-content: center;
  align-items: center;
}